@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
html {
  height: 100%;
}

#mainPage_BG {
  margin: 0px;
  padding: 0;
  height: 1000px;
  background-image: url(/images/Iinear_XL_Transformed.png);
  background-repeat: repeat;
  background-size: cover;
}

.mainPageTitle {
  color: #fff;
  font-family: 'Roboto','sans';
  text-transform: uppercase;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.webAppPageTitle {
  color: #fff;
  font-family: 'Roboto','sans';
  text-transform: uppercase;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0%;
}

.pageTitle {
  margin-left: 12px;
  color: #fff;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 0px 0px 12px #ffffff;
}

.paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  color: #fff;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-shadow: 0px 0px 6px #f8f8f8;
  text-align: left justify;
  z-index: 3;
}

.images {
  z-index: +1000;
  float: right;
  clear: right;
  margin-left: 2%;
  margin-right: 5%;
}

.macOS_vm {
  z-index: +1000;
  float: right;
  clear: right;
  margin-left: 2%;
  margin-right: 5%;
}

.topNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topNavigation > * > * {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 30px;
  color: white;
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.topNavigation > * > *:hover {
  background-color: #2EE59D;
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
          box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  -webkit-transform: translateY(-5px) scale(110%);
          transform: translateY(-5px) scale(110%);
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-zzus {
  background-color: #68cbd0;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.tg .tg-cszt {
  background-color: rgba(255, 255, 255, 0.73);
  color: #000000;
  text-align: center;
  vertical-align: middle;
}

.homeMainButtonContainer {
  margin-top: 25vh;
  margin-left: 30vw;
  margin-bottom: 30vh;
  margin-right: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homersDohContainer {
  margin-top: 0%;
  margin-left: 30vw;
  margin-bottom: 30vh;
  margin-right: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeMainButtonContainer > #homeMainButton {
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.homeMainButtonContainer > #homeMainButton:hover {
  background-color: #2EE59D;
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
          box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  -webkit-transform: translateY(-7px) scale(120%);
          transform: translateY(-7px) scale(120%);
}

@media screen and (max-width: 183px) {
  .topNavigation > * > .leftSideNavigationButtons {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .images {
    z-index: +1000;
    float: right;
    clear: right;
    margin-left: 2%;
    margin-right: 1.5%;
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }
}

@media screen and (max-width: 800px) {
  .images {
    z-index: +1000;
    float: right;
    clear: right;
    margin-left: 2%;
    margin-right: 1%;
    -webkit-transform: scale(70%);
            transform: scale(70%);
  }
}

@media screen and (max-width: 600px) {
  .images {
    z-index: +1000;
    float: right;
    clear: right;
    margin-left: 2%;
    margin-right: 0.5%;
    -webkit-transform: scale(60%);
            transform: scale(60%);
  }
}

@media screen and (max-width: 450px) {
  .topNavigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topNavigation > * {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 200vw;
  }
  .leftSideNavigationButtons {
    padding-bottom: 15px;
  }
  .rightSideNavigationButtons {
    padding-top: 2px;
    border-top: 2px solid gray;
  }
  .topNavigation > * > * {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: black;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 0px;
  }
  .topNavigation > * > * {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homeMainButtonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0%;
    margin-right: 0%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #homeMainButton {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-left: 5%;
    width: 90vw;
    height: 100vh;
  }
}
/*# sourceMappingURL=styleSheet.css.map */